/* Reset e estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fontes personalizadas */
@font-face {
    font-family: 'Stretch Pro';
    src: url('./assets/fonts/stretchpro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Coolveltica';
    src: url('./assets/fonts/coolveltica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Estilos gerais do corpo */
body {
    font-family: 'Open Sans', sans-serif;
    background: #000;
    color: #fff;
    font-weight: 300;
    line-height: 1.5;
    text-align: center; /* Centraliza todo o texto por padrão */
}

h2, h3 {
    margin-bottom: 20px;
    font-family: 'Stretch Pro', sans-serif;
    font-size: 3rem;
    color: #fff;
    text-align: center; /* Centraliza os títulos */
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center; /* Centraliza os subtítulos */
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center; /* Centraliza os títulos menores */
}

.texto-menor {
    font-size: 0.7rem;
    color: #ffffff;
    text-align: center; /* Centraliza textos menores */
}

/* Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 64px;
    background-color: hsla(0, 0%, 0%, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 50px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    margin-top: 10px;
    padding: 0;
}

.nav-menu ul li {
    margin-left: 20px;
}

.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-menu ul li a:hover {
    color: #4d00b5;
}

.container-header {
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.botao-especialista {
    width: fit-content;
    height: auto;
    background: linear-gradient(90deg, #4d00b5, #00a2ff);
    background-size: 200% 200%;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: animarGradiente 3s infinite alternate;
}

.botao-especialista:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px 5px rgba(77, 0, 181, 0.7), 0 0 20px 5px rgba(0, 162, 255, 0.7);
}

@keyframes animarGradiente {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* Seções principais */
section {
    padding: 20px 20px;
    text-align: center;
}

/* Seção QUEM SOMOS */
#quem-somos {
    background-color: #000;
    width: 100%;
    height: fit-content;
    padding: 100px;
}

.fundo-pretitulo {
    position: relative;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #4d00b5;
    border-radius: 16px;
    padding: 5px 10px;
}

.texto-pretitulo {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: #cccccc;
}

.quem-somos-content {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.animate-text {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.animate-text.visible {
    opacity: 1;
    transform: translateY(0);
}

.texto-quemsomos {
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}

.cor-texto-quemsomos {
    color: #4b33b6;
}

/* Seção SERVIÇOS */
#servicos {
    width: 100%;
    padding: 100px;
    height: fit-content;
}

.content-servicos {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.container-card {
    width: 100%;
    height: fit-content;
    padding: 16px;
    min-height: auto;
    overflow: hidden;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
    padding: 20px;
    border: 1px solid #4d00b5;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    overflow: hidden;
    margin: 0 auto;
}

.card img {
    width: 36px;
    height: 36px;
    margin-bottom: 10px;
}

.card h4 {
    margin: 0 0 10px;
    font-size: 18px;
    text-align: center;
}

.card p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

.whatsapp-button-card {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #4d00b5;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.whatsapp-button-card i {
    margin-right: 10px;
    font-size: 18px;
}

.whatsapp-button-card:hover {
    background: #5f41e6;
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(77, 0, 181, 0.7);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(77, 0, 181, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(77, 0, 181, 0);
    }
}

/* Seção EQUIPE */
#equipe {
    width: 100%;
    height: fit-content;
    background-color: #4d00b5;
    padding: 100px;
}

.container-equipe {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
}

.fundo-pretitulo2 {
    position: relative;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 5px 10px;
}

.texto-pretitulo2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: #6c00f9;
}

.membros-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px;
}

.membro {
    text-align: center;
}

.membro img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.cor-nome-equipe {
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.cor-cargo-equipe {
    color: #cccccc;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}

/* Seção CLIENTES */
#clientes {
    width: 100%;
    height: fit-content;
    padding: 100px;
}

.heading-clientes {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.cards-clientes {
    width: 100%;
    height: fit-content;
    padding: 16px;
    min-height: auto;
    overflow: hidden;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-atendemos {
    width: 300px;
    height: 180px;
    display: flex;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px;
}

.card-atendemos h5 {
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #dedede;
    font-weight: 800;
}

.card-atendemos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(268, 89%, 7%, 0.8);
    border-radius: 30px;
    z-index: 1;
}

.card-atendemos:hover {
    transform: scale(1);
    background-color: hsla(267, 100%, 7%, 0.3);
    z-index: 1;
}

.card-atendemos * {
    position: relative;
    z-index: 1;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilos para a seção AVALIAÇÕES */
#avaliacoes {
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 100px;
}

.stack-avaliacoes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.slideshow {
    position: relative;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.slide {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.container {
    --border-width: 2px;
    --radius: 30px;
    background-color: #000;
    width: 40%;
    height: fit-content;
    margin: 0 auto;
    padding: 20px 20px;
    border-radius: var(--radius);
    border: var(--border-width) solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    isolation: isolate;
}

.container::before {
    content: " ";
    position: absolute;
    inset: calc(var(--border-width) * -1);
    border: inherit;
    border-radius: inherit;
    background-image: conic-gradient(from var(--angle), #7e009f 80%, #3984ce 88%, #3984ce 92%, #7e009f 100%);
    background-origin: border-box;
    -webkit-mask:
        linear-gradient(black, black) content-box,
        linear-gradient(black, black);
    mask: linear-gradient(black, black),
          linear-gradient(black, black);
    -webkit-mask-clip: content-box, border-box;
    mask-clip: content-box, border-box;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    animation: spin 3s linear infinite;
}

.container:hover::before {
    animation-play-state: paused;
}

.nome-feedback {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container p {
    margin: auto;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}

.container .elementor-image-box-img {
    margin-top: 10px;
    position: relative;
    width: 100px;
    height: auto;
    border-radius: 100px;
    padding: 5px;
    z-index: 1;
}

/* Propriedade para animar o ângulo do gradiente */
@property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

/* Animação para girar o gradiente */
@keyframes spin {
    to {
        --angle: 1turn;
    }
}


/* Seção DÚVIDAS FREQUENTES */
#duvidas-frequentes {
    background-color: #000;
    margin: 0 auto;
    text-align: center;
    padding: 100px;
}

.container-faq {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
}

.faq-item {
    border-bottom: 1px solid #4d00b5;
    margin-bottom: 10px;
}

.faq-pergunta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    cursor: pointer;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-align: left;
    transition: color 0.3s ease;
}

.faq-pergunta:hover {
    color: #4d00b5;
}

.faq-pergunta i {
    font-size: 0.9rem;
    transition: transform 0.3s ease;
}

.faq-resposta {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    color: #cfcfcf;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
}

.faq-resposta p {
    padding: 10px;
    text-align: left;
    margin: 0;
}

.faq-item.active .faq-resposta {
    max-height: 300px;
    padding-top: 10px;
}

.faq-item.active .faq-pergunta i {
    transform: rotate(180deg);
}


/* Seção CONTATO */
#contato {
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
}

.contato-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 24px;
}

.contato-texto {
    width: 100%;
    color: #fff;
    text-align: center;
}

.contato-texto p {
    margin-bottom: 20px;
}

.contato-form {
    width: 100%;
}

.borda-branca {
    border: 1px solid #4d00b5;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    color: white;
    margin: 10px 0;
}

.social-icons {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.social-icons a {
    background: linear-gradient(to right, #00a2ff, #4d00b5);
    color: #000;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a:hover {
    background: linear-gradient(to left, #00a2ff, #4d00b5);
    color: #000;
    transform: scale(1.1);
}

.contato-form input,
.contato-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #4d00b5;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.contato-form h3 {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #4d00b5;
    padding-bottom: 10px;
}

.contato-form button {
    background: linear-gradient(90deg, #4d00b5, #00a2ff);
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.contato-form button:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    min-height: 50px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
    padding: 20px;
}

.texto-footer {
    font-size: 0.7rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

/* Responsividade para tablets e celulares */
@media (max-width: 768px) {
    p {
        font-size: 1rem;
    }
    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1rem;
    }
    
    h5 {
        font-size: 0.8rem;
    }
    
    .menu-toggle {
        display: flex;
    }

    .nav-menu {
        position: absolute;
        top: 60px;
        right: -100%;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: #000;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }

    .nav-menu.active {
        right: 0;
    }

    .nav-menu ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-menu ul li {
        margin: 20px 0;
    }

    #section {
        width: 100%;
        height: fit-content;
        margin: 0 auto;
        padding: 20px 20px;
    }

    .container-header {
        flex-direction: column;
        padding-top: 100px;
    }

    .texto-container h4 {
        font-size: 1rem;
    }

    .botao-especialista {
        font-size: 1rem;
    }

    .container-card {
        width: 390px;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 200px;
        height: auto;
    }
    
    .card p {
        font-size: 1rem;
    }
    
    .card h2 {
        font-size: 2rem;
    }

    .card h4 {
        font-size: 1.5rem;
    }

    .membro img {
        width: 100px;
        height: 100px;
    }

    .cor-nome-equipe h5 {
        font-size: 1.1rem;
    }
    .cor-cargo-equipe {
        font-size: 1rem;    
    }

    .membros-container {
        flex-direction: column;
    }

    .cards-clientes {
        width: 150%;
        padding: 20px 20px;
    }

    .card-atendemos h5 {
        font-size: 1.3rem;
    }

    #avaliacoes {
        width: 100%;
        height: 700px;
        margin: 0 auto;
        padding: 24px 24px;
    }

    .stack-avaliacoes {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .slideshow {
        width: 100%;
        height: auto;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .slide {
        width: 100%;
        height: auto;
    }
    .container {
        width: 80%;
        padding: 20px 20px;
    }
    .slideactive {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .contato-container {
        flex-direction: column;
    }

    .contato-form {
        width: 80%;
    }

    .whatsapp-button-card {
        font-size: 1rem;
        padding: 5px 10px;
    }

    .contato-texto {
        width: 80%;
    }

}
